<div class="container mx-auto">
  <div class="row m-auto">
    <div class="col-4 d-flex align-items-center text-left m-3">
      <h2>ジャンル一覧・追加</h2>
    </div>
  </div>
</div>
<div class="container align-items-center">
<%= form_for @new_genre,:url => {:action => :create}, local:true do |f| %>
  <div class="form-group">
    <label for="genre_name">ジャンル名</label>
    <div><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <div><%= f.submit '新規登録', class: "btn btn-success" %></div>
  </div>
<% end %>
</div>
<table class="container table">
  <thead>
    <tr>
      <th scope="col">ジャンル</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to "編集する",edit_admin_genre_path(genre.id) ,class: "btn btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>